:root {
    color-scheme: light dark;
    --base-text-color: light-dark(#121314, #f9fafb);
    --base-background-color: light-dark(#f7f7f7, #121314);
    --base-shadow: light-dark(#00000010, #23456710);

    --color-grade-0: light-dark(#4e5052, #f9fafb);
    --color-grade-1: light-dark(#4aa8da, #afe3ff);
    --color-grade-2: light-dark(#b03fe4, #e09eff);
    --color-grade-3: light-dark(#ffaf2d, #ffe48d);

    --color-success: light-dark(#61b700, #b9ff69);
    --color-info: light-dark(#454ad3, #b5b7ff);
    --color-error: light-dark(#e42b2b, #ff6969);
    --color-primary: var(--color-success);
    --color-secondary: var(--color-info);

    /* Pre-computed color-mix(in srgb, var 30%, background) for Ch < 111 fallback */
    --color-success-30: light-dark(#cae4ad, #445a2e);
    --color-error-30: light-dark(#f1baba, #592d2e);
}

.grade-0 { --grade-color: var(--color-grade-0); }
.grade-1 { --grade-color: var(--color-grade-1); }
.grade-2 { --grade-color: var(--color-grade-2); }
.grade-3 { --grade-color: var(--color-grade-3); }